.border {
    border: 1px solid;
}

.outer {
    width: 1920px;
    height: 1080px;
    display: flex;
}

.header {
    width: 1804px;
    height: 64px;
    border: 3px solid #333333;
    border-radius: 32px;
    margin-top: 72px;
    margin-left: 68px;
}

.header-item {
    position: absolute;
    width: 167px;
    height: 50px;
    font-family: AlibabaPuHuiTi_2_65_Medium;
    font-weight: 500;
    font-size: 36px;
    color: #333333;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 186px;
}

.side-left {
    height: 758px;
    width: 174px;
    margin-left: 98px;
    position: absolute;
}

.side-right {
    width: 444px;
    height: 870px;
    margin-left: 1436px;
    position: absolute;
}

.inside-content {
    position: absolute;
    width: 1090px;
    height: 816px;
    margin-left: 332px;
}

.inside-content-top {
    width: 1090px;
    height: 568px;
    border: 3px solid #333333;
    border-radius: 34px;
}

.inside-content-top-up {
    width: 1090px;
    height: 488px;
}

.inside-content-top-left {
    position: absolute;
    height: 421px;
    width: 420px;
    margin-left: 11px;
    margin-top: 26px;
}

.inside-content-top-right {
    position: absolute;
    height: 396px;
    width: 594px;
    margin-left: 448px;
    margin-top: 44px;
}

.inside-content-top-down {
    padding-left: 60px;
    padding-top: 11px;
    border-top: 3px solid;
}

.inside-content-bottom {
    width: 1090px;
    height: 226px;
    margin-top: 22px;
}

.left-image {
    width: 78px;
    height: 100px;
    margin-left: 48px;
    margin-top: 20px;
}

.left-image-container {
    width: 174px;
    height: 140px;
    border: 3px solid #333333;
    border-radius: 34px;
    margin-bottom: 66px;
}